body {
  font-family: "Darker Grotesque", sans-serif;
  font-size: 20px;
}
form {
  padding-top: 10px;
}

.units {
  font-size: 25px;
}
.row {
  text-align: center;
}
.col-4 {
  justify-items: center;
}
#temp {
  font-size: 70px;
}
.top {
  background-color: black;
  color: white;
}
.form-control {
  background-color: black;
}
.location {
  font-size: 30px;
}
.footer {
  text-align: center;
}
